.main {
  display: grid;
  width: 100%;
  justify-items: center;
  background: #fff;
}

.content {
  display: grid;
  justify-items: center;
  gap: 1.6rem;
  margin-top: 3rem;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
}

.overlapCells {
  position: relative;
  width: 6.5rem;
  height: 4.5rem;
}

.overlapCells > *:first-child {
  position: absolute;
  top: 0;
  left: 0;
}

.overlapCells > *:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  outline: 1px solid #fff;
}

.cell {
  width: 4.5rem;
  height: 4.5rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
}

a .cell {
  transition: border-color 0.1s ease;
}

a:focus-visible .cell,
a:hover .cell {
  border-color: #9cd !important;
}

.colorCellContent__lchL {
  font-size: 75%;
}

.colorCellContent__name {
  font-size: 90%;
}

.colorCellContent__contrast {
  font-size: 75%;
}

.input {
  width: 16rem;
  height: 4.5rem;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  background: #fff;
  font-size: 1.6rem;
  color: #000;
  text-align: center;
  transition: border-color 0.1s ease;
}

.input:focus,
.input:hover {
  border-color: #9cd;
}

.picker {
  position: relative;
  width: 16rem;
  height: 4.5rem;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  padding: 0.4rem;
  background: #fff;
}

.picker__inner {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.picker__input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
